### Requirements without Version Specifiers ###
macaddress
ipaddress
netaddr
ping3
pysnmp
pysnmp-mibs
argumentparser
	
### Requirements with Version Specifiers ###
pyasn1 == 0.4.8    # PyASN1 of version <= 0.4.8 (https://stackoverflow.com/a/76196943)
